@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

strong{
  font-weight: bold;
}




// text classes
.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }


.app-subtitle{
  position: relative;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.app-title{
  position: relative;
  display: block;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}

.app-txt{
  display: block;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

// end of text classes

.image{
  display: block;
  max-width: 100%;
}

.section{
  position: relative;
}


.hidden{
  visibility: hidden;
  display: none;
}

.m-auto{
  display: block;
  margin: auto;
}

.mb-0 {   margin-bottom: 0;    }
.mb-10{  margin-bottom: 10px;  }
.mb-15{  margin-bottom: 15px;  }
.mb-20{  margin-bottom: 20px;  }
.mb-25{  margin-bottom: 25px;  }
.mb-30{  margin-bottom: 30px;  }
.mb-40{  margin-bottom: 40px;  }
.mb-50{  margin-bottom: 50px;  }
.mb-45{  margin-bottom: 45px;  }
.mb-75{  margin-bottom: 75px;  }


.display-table{
  display: table;
  height: 100%;
  width: 100%;
  &__cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}


.tab-content {
  display: none;
  animation: fadeEffect .5s;
  -webkit-animation: fadeEffect .5s;
  &.active{
    display: block;
  }
}

.js-panel-head{
  cursor: pointer;
}
.js-panel-content{
  display: none;
}

.js-panel{
  &.js-active{
    .js-panel-content{
      //display: block;
    }
  }
}
