@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

strong{
  font-weight: bold;
}




// text classes
.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }


.app-subtitle{
  position: relative;
  display: inline-block;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: -10px;
    bottom: 3px;
    z-index: -1;
    height: 8px;
    background-color: var(--col-primary);
  }
}

.app-title{
  position: relative;
  display: block;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media (max-width: $breakpoint-lg){
    font-size: 24px;
    line-height: 36px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 18px;
    line-height: 24px;
  }
  &.--extra{
    font-size: 36px;
    line-height: 60px;
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
      text-transform: uppercase;
    }
  }
}

.app-txt{
  display: block;
  color: var(--col-black);
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  @media (max-width: $breakpoint-lg){
    font-size: 12px;
    line-height: 20px;
  }
}

// end of text classes

.image{
  display: block;
  max-width: 100%;
}

.section{
  position: relative;
}


.hidden{
  visibility: hidden;
  display: none;
}

.m-auto{
  display: block;
  margin: auto;
}

.mb-0 {   margin-bottom: 0;    }
.mb-10{  margin-bottom: 10px;  }
.mb-15{  margin-bottom: 15px;  }
.mb-20{  margin-bottom: 20px;  }
.mb-25{  margin-bottom: 25px;  }
.mb-30{  margin-bottom: 30px;  }
.mt-30{  margin-top: 30px;  }
.mb-40{  margin-bottom: 40px;  }
.mb-50{  margin-bottom: 50px;  }
.mb-45{  margin-bottom: 45px;  }
.mb-75{  margin-bottom: 75px;  }


.display-table{
  display: table;
  height: 100%;
  width: 100%;
  &__cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}


.tab-content {
  display: none;
  animation: fadeEffect .5s;
  -webkit-animation: fadeEffect .5s;
  &.active{
    display: block;
  }
}



.pagination{
  &__list{}
  &__item{
    display: inline-block;
    & + &{
      margin-left: 10px;
    }
  }
  &__link{
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    @include transition;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      bottom: 10px;
      z-index: -1;
      height: 6px;
      width: 0;
      background-color: var(--col-yellow);
      @include transition;
    }
    &.active{
      &:before{
        width: 18px;
      }
    }
    &:hover{
      &:before{
        width: 18px;
      }
    }
  }
}

.page-numbers{
  display: inline-block;
  & + &{
    margin-left: 10px;
  }
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  @include transition;
  &:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: -1;
    height: 6px;
    width: 0;
    background-color: var(--col-yellow);
    @include transition;
  }
  &.current{
    &:before{
      width: 18px;
    }
  }
  &:hover{
    &:before{
      width: 18px;
    }
  }
}