@import "../tools/mixins";
@import "../tools/breakpoints";

.contacts-info{
  height: 620px;
  background: url(../img/contacts-info.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 75px;
  @media (max-width: $breakpoint-md){
    height: initial;
    padding: 75px 0;
  }
  &__content{
    position: relative;
  }
  &__item{
    position: absolute;
    right: 0;
    left: 0;
    top: -50px;
    max-width: 450px;
    padding: 55px;
    background-color: var(--col-yellow);
    @media (max-width: $breakpoint-md){
      position: initial;
      right: 0;
      left: 0;
      top: initial;
      max-width: 450px;
      margin: auto;
      padding: 45px;
    }
    @media (max-width: $breakpoint-sm){
      padding: 30px;
      height: initial;
    }
  }
  &__title{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 60px;
    @media (max-width: $breakpoint-md){
      margin-bottom: 45px;
    }
  }
  &__txt{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    @media (max-width: $breakpoint-sm){
      font-size: 14px;
      line-height: 24px;
    }
    &.--upper{
      text-transform: uppercase;
    }
    & + &{
      margin-top: 35px;
    }
    span{
      display: block;
    }
  }
}


.contacts-map{
  margin-bottom: 125px;
  @media (max-width: $breakpoint-sm){
    margin-bottom: 75px;
  }
}

#contacts_map{
  max-width: 850px;
  height: 640px;
  margin-left: auto;
  margin-right: 0;
  @media (max-width: $breakpoint-lg){
    margin-top: 45px;
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: $breakpoint-md){
    height: 500px;
  }
  @media (max-width: $breakpoint-sm){
    height: 400px;
  }
}

#markerLayer{
  img{
    display: none;
  }
}

#markerLayer>:not(:nth-child(1)){
  background-color: var(--col-primary);
  border-radius: 50%;
  overflow: visible!important;
  width: 18px!important;
  height: 18px!important;
}

#markerLayer>:not(:nth-child(1))::before, #markerLayer>:not(:nth-child(1))::after {
  content: ' ';
  display: block;
  background-color: var(--col-primary);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  opacity: 0;
}

#markerLayer>:not(:nth-child(1))::before {
  -webkit-animation: scaleMarker 2s infinite;
  animation: scaleMarker 2s infinite;
}

#markerLayer>:not(:nth-child(1))::after {
  -webkit-animation: scaleMarker 2s 1s infinite;
  animation: scaleMarker 2s 1s infinite;
}

