@import "../tools/mixins";
@import "../tools/breakpoints";


.object{
  margin-bottom: 100px;
  &__row{
    .column:nth-child(1){
      @include grid-size(145px);
      @media (max-width: $breakpoint-sm){
        @include grid-size(100%);
      }
    }
    .column:nth-child(2){
      @include grid-size(calc(100% - 145px));
      @media (max-width: $breakpoint-sm){
        @include grid-size(100%);
      }
    }
  }
  &__{}
  &__nav{
    position: absolute;
    left: 15px;
    top: 0;
    height: 115px;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 55px 55px;
    @media (max-width: $breakpoint-sm){
      display: none;
    }
    &.flickity-enabled.is-draggable .flickity-viewport{
      cursor: default;
    }
    .flickity-prev-next-button{
      @include transition;
      opacity: 0;
      @media (max-width: $breakpoint-lg){
        opacity: 1;
      }
    }
    &:hover{
      .flickity-prev-next-button{
        opacity: 1;
      }
    }
    &-cell{
      cursor: pointer;
      width: 150px;
      height: 100%;
      margin-right: 20px;
      @media (max-width: $breakpoint-sm){
        margin-right: 0;
        padding: 0 10px;
      }
      img{
        position: absolute;
        width: 115px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transform-origin: 50% 50%;
        @media (max-width: $breakpoint-sm){
          position: initial;
          left: initial;
          top: initial;
          height: initial;
          width: initial;
          transform: initial;
          transform-origin: initial;
        }
      }
    }
  }


  &__carousel{
    max-width: 440px;
    &-cell{
      width: 100%;
      height: 500px;
      background: center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      @media (max-width: $breakpoint-sm){
        height: 400px;
      }
      @media (max-width: 374px){
        height: 350px;
      }
    }
  }
  &__{}
}




.object-content{
  position: relative;
  height: 100%;
  padding-bottom: 75px;
  @media (max-width: $breakpoint-lg){
    margin-top: 45px;
  }
  &__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__price{
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__item{
    margin-bottom: 30px;
    &-icon{
      position: relative;
      text-align: center;
      font-size: 30px;
      width: 30px;
      margin: auto auto 15px;
      &:after{
        content: '';
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: -1;
        width: 20px;
        height: 20px;
        background-color: var(--col-yellow);
      }
    }
    &-txt{
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
    }
  }
  &__{}
  &__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  &__btn{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 225px;
  }
}