@import "../tools/mixins";
@import "../tools/breakpoints";


.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  &.js-fixed{
    .header__row{
      height: 75px;
    }
  }
  &__row{
    height: 175px;
    @include transition;
  }
  &__column{
    padding:  0 15px;
  }

  &__list{

  }
  &__item{
    display: inline-block;
    & + & {
      margin-left: 30px;
    }
  }
  &__link{
    position: relative;
    color: black;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    @include transition;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 0;
      z-index: -1;
      bottom: 3px;
      height: 8px;
      background-color: var(--col-primary);
      @include transition;
    }
    &.active{
      &:before{
        width: 100%;
      }
    }
    &:hover{
      &:before{
        width: 100%;
      }
    }
  }
}


