@import "../tools/mixins";
@import "../tools/breakpoints";


.page{
  padding-top: 225px;
  @media (max-width: $breakpoint-lg){
    padding-top: 125px;
  }
  &__top{
    margin-bottom: 120px;
    @media (max-width: $breakpoint-lg){
      padding-right: 30px;
    }
    @media (max-width: $breakpoint-sm){
      margin-bottom: 75px;
    }
  }
  &__subtitle{
    position: relative;
    padding-left: 110px;
    color: var(--col-black);
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    @media (max-width: $breakpoint-sm){
      padding-left: 45px;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 80px;
      height: 1px;
      background-color: var(--col-black);
      @media (max-width: $breakpoint-sm){
        width: 30px;
      }
    }
  }
}

.side-form{
  &__button{
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 9;
    transform: translateX(70px) rotate(-90deg);
    cursor: pointer;
    height: 40px;
    width: 180px;
    line-height: 40px;
    text-align: center;
    background-color: yellow;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    @media (max-width: $breakpoint-lg){
      top: 175px;
    }
  }
  &__item{
    position: fixed;
    width: 375px;
    right: 0;
    top: 200px;
    z-index: 9;
    transform: translateX(calc(100% + 15px));
    padding: 70px 75px 25px 45px;
    background-color: #fff;
    @include transition;
    box-shadow: 0 2px 17.9px 3.2px rgba(0, 0, 0, 0.22);
    @media (max-width: $breakpoint-lg){
      top: 120px;
    }
    @media (max-width: $breakpoint-md){
      width: 300px;
      padding: 45px 15px;
    }
    @media (max-width: $breakpoint-sm){
      padding: 45px 15px 15px 15px;
    }
    .form__input, .form__select{
      height: 45px;
    }
    .btn-primary{
      height: 40px;
      line-height: 40px;
      span{
        line-height: 40px;
      }
      &:hover{
        span{
          transform: translateY(-40px);
        }
      }
    }
  }
  &.js-active{
    .side-form__item{
      transform: translateX(0);
    }
  }
  &__arrow{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 28px;
    opacity: 0.22;
    cursor: pointer;
  }
}



.error-page{
  height: calc(100vh - 225px);
  padding-bottom: 225px;
  @media (max-width: $breakpoint-lg){
    height: calc(100vh - 125px);
    padding-bottom: 125px;
  }
  h1{
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    color: var(--col-primary);
    @media (max-width: $breakpoint-sm){
      font-size: 90px;
      line-height: 90px;
    }
  }
  p{
    text-align: center;
    font-size: 24px;
    line-height: 48px;
  }
}