@import "../tools/mixins";
@import "../tools/breakpoints";


.page{
  padding-top: 225px;
  &__top{
    margin-bottom: 120px;
  }
  &__subtitle{
    position: relative;
    padding-left: 110px;
    color: var(--col-black);
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 80px;
      height: 1px;
      background-color: var(--col-black);
    }
  }
}

