@import "../tools/mixins";
@import "../tools/breakpoints";


.btn{
  position: relative;
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  backface-visibility: hidden;
}

.btn-primary{
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--col-primary);
  cursor: pointer;
  text-align: center;
  color: black;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  @include transition;
  backface-visibility: hidden;
  span{
    display: block;
    line-height: 50px;
    transition: transform 0.3s;
  }
  &.--black{
    color: var(--col-black);
    border: 2px solid  var(--col-black);
    &:hover{
      color: #fff;
      background-color: var(--col-black);
    }
  }
  &:hover{
    background-color: var(--col-primary);
    span{
      transform: translateY(-50px);
    }
  }
}

.btn-secondary{
  width: 100%;
  max-width: 135px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  border: 1px solid #424242;
  font-family: 'Montserrat',sans-serif;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  @include transition;
  backface-visibility: hidden;
  span{
    display: block;
    line-height: 40px;
  }
  &.--black{
    color: #fff;
    background-color: var(--col-black);
  }
  &.--white{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    &:hover{
      color: #424242;
      border: 1px solid #fff;
      background-color: #fff;
    }
  }
  &:hover{
    border: 1px solid #424242;
    background-color: #424242;
    color: #fff;
    span{
      transform: translateY(0);
    }
  }
}

.btn-link{
  display: inline-block;
  position: relative;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--col-black);
  &:after{
    content: "\e901";
    font-family: 'icomoon' !important;
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 18px;
    color: var(--col-black);
    transition: all 0.25s ease;
  }
  &:hover{
    &:after{
      transform: translateX(5px);
    }
  }

}

.btn-right{
  margin-right: 0;
  margin-left: auto;
}