
@import "../tools/mixins";
@import "../tools/breakpoints";

.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  -webkit-overflow-scrolling: touch;
  &__body{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }
  &__content{
    position: relative;
    margin: auto;
    width: 100%;
    background-color: #fff;
  }

  &__title{
    display: block;
    text-align: center;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  &__close{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    display: block;
    cursor: pointer;
    color: #a0a0a0;
    backface-visibility: hidden;
    @include transition;
    &:hover{
      transform: rotate(90deg);
    }
  }

  &__btn{
    height: 60px;
    line-height: 60px;
    background-color: var(--col-yellow);
    span{
      line-height: 60px;
    }
    &:hover{
      span{
       transform: translateY(-60px);
      }
    }
  }
}



.user-modal{
  position: relative;
  overflow: hidden;
  padding: 90px 80px;
  max-width: 1200px;
  @media (max-width: $breakpoint-lg) {
    padding: 45px 45px;
  }
  @media (max-width: $breakpoint-sm) {
  }

}

.order-modal{
  position: relative;
  overflow: hidden;
  padding: 30px 145px;
  max-width: 600px;
  @media (max-width: $breakpoint-sm) {
    padding: 30px 15px;
    max-width: 320px;

  }
  .modal__title{
    margin-bottom: 15px;
  }
  .form__input{
    height: 45px;
  }
  .form__area{
    height: 100px;
  }
}






